<!DOCTYPE html>
<html>
  <head>
    <meta name = "viewport" content = "width = device-width">

    <title>Instashop</title>
    <%= csrf_meta_tags %>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <script>
      <% if current_user %>
        // debugger;
        window.currentUser = {
          username: '<%= current_user.username %>',
          id: <%= current_user.id %>
          // user: <%= current_user %>
        }
      <% end %>
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="icon" href='<%= image_path("logo_small.png") %>' type="image/png">
    <%= javascript_include_tag 'application' %>


  <body>
    <%= yield %>
  </body>
</html>
